@page
@model HangmanWeb.Pages.GameModel
@{
}

<div class="row">
    <div class="col">
        <div class="row justify-content-start">
            <div class="col-1">
                <button type="button" class="btn btn-primary">Start</button>
            </div>
            <div class="col-3 text-end fw-semibold">How Many Letters:</div>
            <div class="col-2">
                <input type="text" class="form-control" />
            </div>

            <div class="col-3 fw-semibold">-- tries left</div>
        </div>
        <div class="col">
            <div class="row mt-5">
                <input type="text" value="" class="col form-control m-1 border-primary" style="min-height:70px" />
                <input type="text" value="" class="col form-control m-1 border-primary" style="min-height:70px" />
                <input type="text" value="" class="col form-control m-1 border-primary" style="min-height:70px" />
                <input type="text" value="" class="col form-control m-1 border-primary" style="min-height:70px" />
                <input type="text" value="" class="col form-control m-1 border-primary" style="min-height:70px" />
                <input type="text" value="" class="col form-control m-1 border-primary" style="min-height:70px" />
                <input type="text" value="" class="col form-control m-1 border-primary" style="min-height:70px" />
                <input type="text" value="" class="col form-control m-1 border-primary" style="min-height:70px" />
                <input type="text" value="" class="col form-control m-1 border-primary" style="min-height:70px" />
            </div>
        </div>
        <div class="col mt-5">
            <div class="col">
                <button type="button" class="btn btn-light" style="min-width:50px">A</button>
                <button type="button" class="btn btn-light" style="min-width:50px">B</button>
                <button type="button" class="btn btn-light" style="min-width:50px">C</button>
                <button type="button" class="btn btn-light" style="min-width:50px">D</button>
                <button type="button" class="btn btn-light" style="min-width:50px">E</button>
                <button type="button" class="btn btn-light" style="min-width:50px">F</button>
                <button type="button" class="btn btn-light" style="min-width:50px">G</button>
                <button type="button" class="btn btn-light" style="min-width:50px">H</button>
                <button type="button" class="btn btn-light" style="min-width:50px">I</button>
                <button type="button" class="btn btn-light" style="min-width:50px">J</button>
                <button type="button" class="btn btn-light" style="min-width:50px">K</button>
                <button type="button" class="btn btn-light" style="min-width:50px">L</button>
                <button type="button" class="btn btn-light" style="min-width:50px">M</button>
            </div>
            <div class="col mt-2">
                <button type="button" class="btn btn-light" style="min-width:50px">N</button>
                <button type="button" class="btn btn-light" style="min-width:50px">O</button>
                <button type="button" class="btn btn-light" style="min-width:50px">P</button>
                <button type="button" class="btn btn-light" style="min-width:50px">Q</button>
                <button type="button" class="btn btn-light" style="min-width:50px">R</button>
                <button type="button" class="btn btn-light" style="min-width:50px">S</button>
                <button type="button" class="btn btn-light" style="min-width:50px">T</button>
                <button type="button" class="btn btn-light" style="min-width:50px">U</button>
                <button type="button" class="btn btn-light" style="min-width:50px">V</button>
                <button type="button" class="btn btn-light" style="min-width:50px">W</button>
                <button type="button" class="btn btn-light" style="min-width:50px">X</button>
                <button type="button" class="btn btn-light" style="min-width:50px">Y</button>
                <button type="button" class="btn btn-light" style="min-width:50px">Z</button>
            </div>
        </div>
    </div>
    <div class="col-5">
        <img src="/images/p13p.png" class="img-fluid" style="max-height:600px" />
    </div>
</div>